body {
  text-align: center;
  background-color: #011F3F;
}

#banner {
  height: 700px;
  width: 800px;
  display: none;
  overflow: auto;
  background-color: #FEF2BF;
  opacity: 0.9;
  color: #011F3F;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#how-container {
  width: 70%;
  margin: 0 auto;
  margin-top: 12%;
}

.how-title {
  color: #011F3F;
  font-family: 'Press Start 2P', cursive;
  margin: 7%;
  margin-bottom: 50px;
}

.how-list {
  color: #011F3F;
  font-family: 'Press Start 2P', regular;
  font-size: 1rem;
  margin: 16px 0px;
  padding: 0 0 40px;
}

.how-list li {
  margin-bottom: 30px;
}

#btn-close {
  background-color: transparent;
  color: #011F3F;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.3rem;
  font-weight: bolder;
  position: fixed;
  bottom: 5%;
  left: 42%;
  margin-bottom: 20px;
  cursor: pointer;
  text-decoration: none;
  border: none;
}

#btn-close:hover {
  color: grey;
}

#btn-close:focus {
  outline: none;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 3%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 15px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

#btn-how {
  background-color: transparent;
  border-radius: 2px;
  border: 5px solid #FEF2BF;
  display: inline-block;
  cursor: help;
  color: #FEF2BF;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  padding: 16px 31px;
  margin-top: 3%;
  text-decoration: none;
}

#btn-how:focus {
  outline: none;
}

#btn-how:active {
  position: relative;
  top: 1px;
}
